
### Payment ###
# Проект не может рисковать столь важным модулем перед мошенниками.
# Просим отнестись с пониманием, ведь это в ваших же интересах не потерять доступ
# к вашим деньгам и сервису ККОРОЧЕ.
/documentation/src/services/privat_http_api/module_payment/
/documentation/src/services/privat_http_api/module_payment.md
